In [4]:
import pandas as pd
from os.path import join
import json
import numpy as np

PROC_UMLS = '/home/pc/Desktop/AdilStuff/Projects/SemRepMed/umls processed net data'
SELECTED_TRIPLES = 'Selected Triples'
# COVID Complet  | risk factor covid kg
# SELECTED_KG = 'risk factor covid kg'
SELECTED_KG = 'risk_factor_disease_time'
TRIPLES_DIR = 'all_triples'

In [5]:
def save_json(path_, data_):
    with open(path_, 'w') as f:
        json.dump(data_, f)
        
def read_json(path_):
    with open(path_, 'r') as f:
        data = json.load(f)
    return data

In [11]:
def verify_splits(train_, test_, val_,
                  head_col = 'SUBJECT_CUI', rel_col = 'PREDICATE', tail_col = 'OBJECT_CUI',
                  proba_col = 'label_proba'):
    
    all_train_ents = set(list(train_[head_col]) + list(train_[tail_col]))
    all_train_rels = set(list(train_[rel_col]))
    total_triples = train_.shape[0]
    all_probas = list(train_[proba_col])
    if val_ is not None:
        all_val_ents = set(list(val_[head_col]) + list(val_[tail_col]))
        all_val_rels = set(list(val_[rel_col]))
        total_triples += val_.shape[0]
        all_probas += list(val_[proba_col])
    else:
        all_val_ents, all_val_rels = [], []
        
    if test_ is not None:
        all_test_ents = set(list(test_[head_col]) + list(test_[tail_col]))
        all_test_rels = set(list(test_[rel_col]))
        total_triples += test_.shape[0]
        all_probas += list(test_[proba_col])
    else:
        all_test_ents, all_test_rels = [], []
        
    print('total number of triples: ',total_triples)
    print('# all entities: ',len(set(list(all_val_ents)+list(all_test_rels)+list(all_train_ents))))
    print('# all relations: ',len(set(list(all_test_rels)+list(all_val_rels)+list(all_train_rels))))
    print('# Average proba: ', np.array(all_probas).mean())
    print('# Std proba: ', np.array(all_probas).std())
    
    print('number of training triples: ',train_.shape[0])
    if test_ is not None:
        print('number of test triples: ',test_.shape[0])
    if val_ is not None:
        print('number of val triples: ',val_.shape[0])
    print('fraction of training triples: ',train_.shape[0]/total_triples)
    if test_ is not None:
        print('fraction of test triples: ',test_.shape[0]/total_triples)
        
    if val_ is not None:
        print('fraction of val triples: ',val_.shape[0]/total_triples)
    
    if (train_ is not None) & (test_ is not None) & (val_ is not None):
        print('ents in val not train: ',len(all_val_ents.difference(all_train_ents)))
        print('ents in test not train: ',len(all_test_ents.difference(all_train_ents)))
        print('rels in val not train: ',len(all_val_rels.difference(all_train_rels)))
        print('rels in test not train: ',len(all_test_rels.difference(all_train_rels)))
    
def kg_split():
    all_df = pd.read_csv(join(SELECTED_TRIPLES, SELECTED_KG, 'full_kg.csv'), compression = 'gzip')
    train_df = all_df.groupby(['SUBJECT_CUI', 'OBJECT_CUI']).sample(frac = 0.56)
    test_val = all_df[~all_df.index.isin(train_df.index)]
    test_df = test_val.sample(frac = 0.5)
    val_df = test_val[~test_val.index.isin(test_df.index)]
    return train_df, test_df, val_df

def splits_formatting_save(train_, test_, val_, save_path):
    
    new_col_names = {'PREDICATE':'r','SUBJECT_CUI':'h','OBJECT_CUI':'t',
                     'label_proba':'p','SUBJECT_TYPE':'h_type','OBJECT_TYPE':'t_type'}
    train_.rename(new_col_names, axis = 1).to_csv(join(save_path, 'raw_train.csv'), index = False)
    test_.rename(new_col_names, axis = 1).to_csv(join(save_path, 'raw_test.csv'), index = False)
    val_.rename(new_col_names, axis = 1).to_csv(join(save_path, 'raw_val.csv'), index = False)
    all_train_ents = list(train_['SUBJECT_CUI']) + list(train_['OBJECT_CUI'])
    all_train_ents_types = list(train_['SUBJECT_TYPE']) + list(train_['OBJECT_TYPE'])
    all_train_rels = list(train_['PREDICATE'])
    
    all_val_ents = list(val_['SUBJECT_CUI']) + list(val_['OBJECT_CUI'])
    all_val_ents_types = list(val_['SUBJECT_TYPE']) + list(val_['OBJECT_TYPE'])
    all_val_rels = list(val_['PREDICATE'])
    
    all_test_ents = list(test_['SUBJECT_CUI']) + list(test_['OBJECT_CUI'])
    all_test_ents_types = list(test_['SUBJECT_TYPE']) + list(test_['OBJECT_TYPE'])
    all_test_rels = list(test_['PREDICATE'])
    
    all_ents = list(set(all_train_ents + all_val_ents + all_test_ents))
    all_rels = list(set(all_train_rels + all_val_rels + all_test_rels))
    all_ent_types = list(set(all_train_ents_types + all_val_ents_types + all_test_ents_types))
    ent_map = {e:idx for idx, e in enumerate(all_ents)}
    rel_map = {e:idx for idx, e in enumerate(all_rels)}
    ent_type_map = {e:idx for idx, e in enumerate(all_ent_types)}
    #####
    train_['SUBJECT_CUI'] = train_['SUBJECT_CUI'].map(ent_map)
    train_['OBJECT_CUI'] = train_['OBJECT_CUI'].map(ent_map)
    train_['SUBJECT_TYPE'] = train_['SUBJECT_TYPE'].map(ent_type_map)
    train_['OBJECT_TYPE'] = train_['OBJECT_TYPE'].map(ent_type_map)
    train_['PREDICATE'] = train_['PREDICATE'].map(rel_map)
    #
    test_['SUBJECT_CUI'] = test_['SUBJECT_CUI'].map(ent_map)
    test_['OBJECT_CUI'] = test_['OBJECT_CUI'].map(ent_map)
    test_['SUBJECT_TYPE'] = test_['SUBJECT_TYPE'].map(ent_type_map)
    test_['OBJECT_TYPE'] = test_['OBJECT_TYPE'].map(ent_type_map)
    test_['PREDICATE'] = test_['PREDICATE'].map(rel_map)
    #
    val_['SUBJECT_CUI'] = val_['SUBJECT_CUI'].map(ent_map)
    val_['OBJECT_CUI'] = val_['OBJECT_CUI'].map(ent_map)
    val_['SUBJECT_TYPE'] = val_['SUBJECT_TYPE'].map(ent_type_map)
    val_['OBJECT_TYPE'] = val_['OBJECT_TYPE'].map(ent_type_map)
    val_['PREDICATE'] = val_['PREDICATE'].map(rel_map)
    ####
    train_ = train_.rename(new_col_names, axis = 1)
    test_ = test_.rename(new_col_names, axis = 1)
    val_ = val_.rename(new_col_names, axis = 1)
    ## saving
    train_.to_csv(join(save_path, 'train.csv'), index = False)
    test_.to_csv(join(save_path, 'test.csv'), index = False)
    val_.to_csv(join(save_path, 'val.csv'), index = False)
    save_json(join(save_path, 'ent_map.json'), ent_map)
    save_json(join(save_path, 'rel_map.json'), rel_map)
    save_json(join(save_path, 'ent_type_map.json'), ent_type_map)
    return train_, test_, val_, ent_map, rel_map, ent_type_map

def test_read(save_path):
    train = pd.read_csv(join(save_path, 'train.csv'))
    test = pd.read_csv(join(save_path, 'test.csv'))
    val = pd.read_csv(join(save_path, 'val.csv'))
    raw_train = pd.read_csv(join(save_path, 'raw_train.csv'))
    raw_test = pd.read_csv(join(save_path, 'raw_test.csv'))
    raw_val = pd.read_csv(join(save_path, 'raw_val.csv'))
    ent_map = read_json(join(save_path, 'ent_map.json'))
    rel_map = read_json(join(save_path, 'rel_map.json'))
    ent_type_map = read_json(join(save_path, 'ent_type_map.json'))
    return raw_train, raw_test, raw_val, train, test, val, ent_map, rel_map, ent_type_map

In [16]:
train_df, test_df, val_df = kg_split()

In [17]:
verify_splits(train_df, test_df, val_df)

total number of triples:  280812
# all entities:  28175
# all relations:  61
# Average proba:  0.9011285565285632
# Std proba:  0.2386312469627831
number of training triples:  227311
number of test triples:  26750
number of val triples:  26751
fraction of training triples:  0.8094775152059028
fraction of test triples:  0.09525946184635985
fraction of val triples:  0.09526302294773728
ents in val not train:  0
ents in test not train:  0
rels in val not train:  0
rels in test not train:  0

In [19]:
train_df

,ORIGIN_ID,PREDICATE,SUBJECT_CUI,OBJECT_CUI,label_proba,time_min,time_max,SUBJECT_TYPE,OBJECT_TYPE
50293,990002,DISRUPTS,100125288,C0240173,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,aapp,fndg
50291,990002,DISRUPTS,100125288,C0240173,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,aapp,fndg
38289,672125,AFFECTS,100129339,C0237849,1.0,2015-08-21 00:00:00,2015-08-21 00:00:00,aapp,fndg
108375,3434195,ISA,100187907,C0033684,1.0,1996-06-01 00:00:00,1996-06-01 00:00:00,aapp,aapp
79308,1911236,CAUSES,100187907,C0231552,1.0,2016-09-28 00:00:00,2016-09-28 00:00:00,aapp,fndg
...,...,...,...,...,...,...,...,...,...
241536,6480149,compared_with,C1620098,C1620098,1.0,1986-08-01 00:00:00,1986-08-01 00:00:00,aapp,aapp
122035,3787703,ISA,C1620104,C0133195,1.0,1995-01-01 00:00:00,1995-11-01 00:00:00,aapp,aapp
239204,6457418,compared_with,C1621245,C0021463,0.5,1989-10-01 00:00:00,1989-10-01 00:00:00,aapp,aapp
485,4219,AFFECTS,C1653361,C0020538,1.0,2006-03-15 00:00:00,2006-03-15 00:00:00,aapp,dsyn
255586,6623675,ASSOCIATED_WITH,C1684909,C0011156,1.0,1985-04-01 00:00:00,1985-04-01 00:00:00,aapp,dsyn

In [20]:
save_path = join(SELECTED_TRIPLES, SELECTED_KG)

In [21]:
pd.read_csv(join(save_path, 'raw_train.csv'))

,ORIGIN_ID,r,h,t,p,time_min,time_max,h_type,t_type
0,990002,DISRUPTS,100125288,C0240173,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,aapp,fndg
1,990002,DISRUPTS,100125288,C0240173,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,aapp,fndg
2,990002,DISRUPTS,100125288,C0240173,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,aapp,fndg
3,672125,AFFECTS,100129339,C0237849,1.0,2015-08-21 00:00:00,2015-08-21 00:00:00,aapp,fndg
4,3434195,ISA,100187907,C0033684,1.0,1996-06-01 00:00:00,1996-06-01 00:00:00,aapp,aapp
...,...,...,...,...,...,...,...,...,...
235535,6480149,compared_with,C1620098,C1620098,1.0,1986-08-01 00:00:00,1986-08-01 00:00:00,aapp,aapp
235536,3787703,ISA,C1620104,C0133195,1.0,1995-01-01 00:00:00,1995-11-01 00:00:00,aapp,aapp
235537,6457418,compared_with,C1621245,C0021463,0.5,1989-10-01 00:00:00,1989-10-01 00:00:00,aapp,aapp
235538,4219,AFFECTS,C1653361,C0020538,1.0,2006-03-15 00:00:00,2006-03-15 00:00:00,aapp,dsyn
235539,6623675,ASSOCIATED_WITH,C1684909,C0011156,1.0,1985-04-01 00:00:00,1985-04-01 00:00:00,aapp,dsyn

In [22]:
splits_formatting_save(train_ = train_df.copy(), test_ = test_df.copy(), val_ = val_df.copy(), save_path = save_path)

(        ORIGIN_ID   r      h      t    p             time_min  \
 50293      990002  18  16158  24362  1.0  2015-08-22 00:00:00
 50291      990002  18  16158  24362  1.0  2015-08-22 00:00:00
 38289      672125  24  10724  13513  1.0  2015-08-21 00:00:00
 108375    3434195  36  11060  13729  1.0  1996-06-01 00:00:00
 79308     1911236  50  11060  10474  1.0  2016-09-28 00:00:00
 ...           ...  ..    ...    ...  ...                  ...
 241536    6480149  39  13007  13007  1.0  1986-08-01 00:00:00
 122035    3787703  36   5360  21347  1.0  1995-01-01 00:00:00
 239204    6457418  39  12329  12410  0.5  1989-10-01 00:00:00
 485          4219  24  25312   3754  1.0  2006-03-15 00:00:00
 255586    6623675  16    486  13686  1.0  1985-04-01 00:00:00

                    time_max  h_type  t_type
 50293   2015-08-22 00:00:00       8      16
 50291   2015-08-22 00:00:00       8      16
 38289   2015-08-21 00:00:00       8      16
 108375  1996-06-01 00:00:00       8       8
 79308   2016-09-28 00:00:00       8      16
 ...                     ...     ...     ...
 241536  1986-08-01 00:00:00       8       8
 122035  1995-11-01 00:00:00       8       8
 239204  1989-10-01 00:00:00       8       8
 485     2006-03-15 00:00:00       8       5
 255586  1985-04-01 00:00:00       8       5

 [227311 rows x 9 columns],
         ORIGIN_ID   r      h      t         p             time_min  \
 192924    5996040  16  23238  11695  0.000000  1989-08-01 00:00:00
 259592    6663890  39  27922  16810  1.000000  1988-04-01 00:00:00
 227486    6339937  59  13137  23761  1.000000  1990-06-25 00:00:00
 17744      199330  36  11242  27685  0.971519  1985-07-01 00:00:00
 28657      433184  24    831  25482  0.500000  2014-12-03 00:00:00
 ...           ...  ..    ...    ...       ...                  ...
 117767    3676874  57  20002  22412  1.000000  1997-05-13 00:00:00
 85429     2425969  57     91  21293  0.800000  1973-04-01 00:00:00
 21615      284637  44  23786  12861  0.973822  2014-12-05 00:00:00
 97363     3167920  59  26485  15171  1.000000  1993-01-01 00:00:00
 185533    5924690  54   8373  25307  1.000000  1989-01-01 00:00:00

                    time_max  h_type  t_type
 192924  1989-08-01 00:00:00       8       5
 259592  1988-04-01 00:00:00      13      13
 227486  1990-06-25 00:00:00       8       8
 17744   2017-06-29 00:00:00       9       9
 28657   2014-12-03 00:00:00       8       7
 ...                     ...     ...     ...
 117767  1997-05-13 00:00:00       8       8
 85429   1973-04-01 00:00:00       5      16
 21615   2016-11-23 00:00:00       8       7
 97363   1993-01-01 00:00:00       8       8
 185533  1989-01-01 00:00:00       8       5

 [26750 rows x 9 columns],
         ORIGIN_ID   r      h      t         p             time_min  \
 9              92  36  18702   2655  0.993793  1974-06-01 00:00:00
 10             93  29   2655  18702  0.988423  1974-02-01 00:00:00
 24            153  58  13578   1625  0.988950  1968-11-01 00:00:00
 26            169  16   6803  20516  0.909091  1977-01-01 00:00:00
 27            174  54   8910  18139  1.000000  2006-03-15 00:00:00
 ...           ...  ..    ...    ...       ...                  ...
 280695    8337662  24   8510  17234  1.000000  1972-01-01 00:00:00
 280698    8338175  16  18499  18825  1.000000  1972-10-01 00:00:00
 280705    8339415  16  16163   4723  1.000000  1974-08-01 00:00:00
 280804    8371432  13   5557  10591  1.000000  1974-11-01 00:00:00
 280807    8372060  57  12777   4367  1.000000  1974-05-01 00:00:00

                    time_max  h_type  t_type
 9       2015-08-26 00:00:00       8      13
 10      2015-08-26 00:00:00      13       8
 24      2017-06-26 00:00:00       5       1
 26      2006-03-15 00:00:00       8       5
 27      2006-03-15 00:00:00       8       8
 ...                     ...     ...     ...
 280695  1972-01-01 00:00:00       7       8
 280698  1972-10-01 00:00:00       8       5
 280705  1974-08-01 00:00:00       8       5
 280804  1974-11-01 00:00:00       8       8
 280807  1974-05-01 00:00:00       8       8

 [26751 rows x 9 columns],
 {'C0349726': 0,
  'C0053375': 1,
  'C0282109': 2,
  'C0013743': 3,
  'C0075464': 4,
  'C0565436': 5,
  'C0741486': 6,
  'C0059778': 7,
  'C0452353': 8,
  'C0246314': 9,
  'C0857735': 10,
  'C0014298': 11,
  'C1411545': 12,
  'C0070023': 13,
  'C0269077': 14,
  'C0020860': 15,
  'C0135841': 16,
  'C0189758': 17,
  'C0066073': 18,
  'C0072882': 19,
  'C0235048': 20,
  'C0263382': 21,
  'C0855230': 22,
  'C1136066': 23,
  'C0040627': 24,
  'C0878783': 25,
  'C0236560': 26,
  'C0055632': 27,
  'C0251639': 28,
  'C0746940': 29,
  'C0055598': 30,
  'C0054840': 31,
  'C0147495': 32,
  'C0312207': 33,
  'C0018801': 34,
  'C0235430': 35,
  'C0301696': 36,
  'C1531582': 37,
  'C0518456': 38,
  'C0215199': 39,
  'C0276688': 40,
  'C0264483': 41,
  'C0076955': 42,
  'C0155301': 43,
  'C0033198': 44,
  'C0184908': 45,
  'C0206390': 46,
  'C0542520': 47,
  'C0047542': 48,
  'C0853212': 49,
  'C0392108': 50,
  'C0150238': 51,
  'C0949908': 52,
  'C0142975': 53,
  'C0009770': 54,
  'C1322208': 55,
  'C0549472': 56,
  'C0407564': 57,
  'C0002189': 58,
  'C0206517': 59,
  'C1328346': 60,
  'C0655620': 61,
  'C0524318': 62,
  'C1440511': 63,
  'C0406838': 64,
  'C0079349': 65,
  'C0475463': 66,
  'C0260276': 67,
  'C0043458': 68,
  'C0871794': 69,
  'C1332309': 70,
  'C0282580': 71,
  'C0426491': 72,
  'C0005686': 73,
  'C0038218': 74,
  'C0054047': 75,
  'C0599867': 76,
  'C0999953': 77,
  'C1257869': 78,
  'C0554804': 79,
  'C1305851': 80,
  'C0250876': 81,
  'C0011860': 82,
  'C1303007': 83,
  'C0282614': 84,
  'C0268097': 85,
  'C0005670': 86,
  'C0771098': 87,
  'C0397173': 88,
  'C0206393': 89,
  'C0155389': 90,
  'C0038013': 91,
  'C0740281': 92,
  'C0123018': 93,
  'C0571380': 94,
  'C0271759': 95,
  'C0060605': 96,
  'C0741193': 97,
  'C0052357': 98,
  'C0012271': 99,
  'C0511588': 100,
  'C1551084': 101,
  'C0678819': 102,
  'C0264314': 103,
  'C0376411': 104,
  'C0392550': 105,
  'C1563737': 106,
  'C0105652': 107,
  'C0420187': 108,
  'C1096230': 109,
  'C0376705': 110,
  'C0442749': 111,
  'C0300942': 112,
  'C0154209': 113,
  'C1314687': 114,
  'C1384589': 115,
  'C0869528': 116,
  'C0042172': 117,
  'C0999762': 118,
  'C0006741': 119,
  'C0157733': 120,
  'C0008056': 121,
  'C0070476': 122,
  'C0042209': 123,
  'C0919673': 124,
  'C0577215': 125,
  'C0377293': 126,
  'C0032182': 127,
  'C0543694': 128,
  'C0031736': 129,
  'C0339412': 130,
  'C0052439': 131,
  'C0682463': 132,
  'C1328552': 133,
  'C0023288': 134,
  'C0293650': 135,
  'C0864665': 136,
  'C0379099': 137,
  'C0655694': 138,
  'C0232482': 139,
  'C0395020': 140,
  'C0221141': 141,
  'C0849663': 142,
  'C0026783': 143,
  'C0410877': 144,
  'C0675638': 145,
  'C0003665': 146,
  'C0017957': 147,
  'C0282046': 148,
  'C1335962': 149,
  'C0048744': 150,
  'C0027415': 151,
  'C0564468': 152,
  'C1519613': 153,
  'C1440480': 154,
  'C0458650': 155,
  'C0403319': 156,
  'C0842076': 157,
  'C0280541': 158,
  'C0006510': 159,
  'C0556614': 160,
  'C1446994': 161,
  'C0263109': 162,
  'C0745064': 163,
  'C0014428': 164,
  'C0062273': 165,
  'C0343890': 166,
  'C0043391': 167,
  'C0004812': 168,
  'C0195767': 169,
  'C0039219': 170,
  'C0268095': 171,
  'C0376460': 172,
  'C0007789': 173,
  'C0037294': 174,
  'C0085548': 175,
  'C0034494': 176,
  'C0077910': 177,
  'C0220683': 178,
  'C0023837': 179,
  'C0015982': 180,
  'C0565198': 181,
  'C0877561': 182,
  'C0054404': 183,
  'C0178672': 184,
  'C0056468': 185,
  'C0004359': 186,
  'C0072049': 187,
  'C0239807': 188,
  'C0318609': 189,
  'C0024131': 190,
  'C0341257': 191,
  'C0871407': 192,
  'C0035547': 193,
  'C1269760': 194,
  'C0263237': 195,
  'C0017372': 196,
  'C0597834': 197,
  'C1281935': 198,
  'C0032002': 199,
  'C0040548': 200,
  'C1319861': 201,
  'C1515377': 202,
  'C0999899': 203,
  'C1334204': 204,
  'C0026214': 205,
  'C0063110': 206,
  'C0013459': 207,
  'C0272104': 208,
  'C1263733': 209,
  'C0001053': 210,
  'C0053381': 211,
  'C0050645': 212,
  'C0920381': 213,
  'C0543880': 214,
  'C0079584': 215,
  'C0760781': 216,
  'C0878520': 217,
  'C0912252': 218,
  'C0034823': 219,
  'C0645912': 220,
  'C0476406': 221,
  'C1566646': 222,
  'C1277289': 223,
  'C0969730': 224,
  'C1005556': 225,
  'C0019432': 226,
  'C0194121': 227,
  'C0019959': 228,
  'C1317971': 229,
  'C1301502': 230,
  'C0206113': 231,
  'C0546333': 232,
  'C0004538': 233,
  'C0680009': 234,
  'C1306838': 235,
  'C0191261': 236,
  'C0949664': 237,
  'C1527385': 238,
  'C0052898': 239,
  'C0404090': 240,
  'C0871707': 241,
  'C0204537': 242,
  'C0040149': 243,
  'C0130711': 244,
  'C0089798': 245,
  'C0948739': 246,
  'C0000820': 247,
  'C0075307': 248,
  'C0028615': 249,
  'C1456503': 250,
  'C0032001': 251,
  'C0529330': 252,
  'C0164294': 253,
  'C0074498': 254,
  'C0022978': 255,
  'C0019219': 256,
  'C0268099': 257,
  'C0730607': 258,
  'C0343453': 259,
  'C0751402': 260,
  'C1423326': 261,
  'C0065984': 262,
  'C0238590': 263,
  'C0006579': 264,
  'C0276028': 265,
  'C0442752': 266,
  'C0264381': 267,
  'C0403474': 268,
  'C0940159': 269,
  'C0339324': 270,
  'C0155952': 271,
  'C0027706': 272,
  'C0019982': 273,
  'C0194159': 274,
  'C0239801': 275,
  'C0337099': 276,
  'C1314790': 277,
  'C1541923': 278,
  'C0050668': 279,
  'C0860063': 280,
  'C0277910': 281,
  'C0264053': 282,
  'C0429169': 283,
  'C1568245': 284,
  'C1446924': 285,
  'C0340297': 286,
  'C0872184': 287,
  'C0263221': 288,
  'C0007991': 289,
  'C0749724': 290,
  'C0264637': 291,
  'C0165589': 292,
  'C0260576': 293,
  'C0126900': 294,
  'C0474146': 295,
  'C0032587': 296,
  'C0999884': 297,
  'C0599482': 298,
  'C0013355': 299,
  'C0275935': 300,
  'C0424523': 301,
  'C0031034': 302,
  'C0318900': 303,
  'C1148840': 304,
  'C0020094': 305,
  'C1262305': 306,
  'C0031254': 307,
  'C0214562': 308,
  'C0004488': 309,
  'C0054892': 310,
  'C1265373': 311,
  'C0019342': 312,
  'C0128479': 313,
  'C0599765': 314,
  'C0232203': 315,
  'C0017760': 316,
  'C0016868': 317,
  'C0007292': 318,
  'C0034754': 319,
  'C1519578': 320,
  'C0267839': 321,
  'C0915731': 322,
  '100289545': 323,
  'C0062503': 324,
  'C0318651': 325,
  'C0025732': 326,
  'C0058746': 327,
  'C0061617': 328,
  'C0018081': 329,
  'C0275922': 330,
  'C0034764': 331,
  'C0048607': 332,
  'C0385927': 333,
  'C0812509': 334,
  'C0009940': 335,
  'C0051400': 336,
  'C0063405': 337,
  'C1335008': 338,
  'C0003340': 339,
  'C0027126': 340,
  'C0052860': 341,
  'C0239295': 342,
  'C0031146': 343,
  'C0286804': 344,
  'C0296250': 345,
  'C0877153': 346,
  'C0597298': 347,
  'C0444964': 348,
  'C0549255': 349,
  'C1334178': 350,
  'C0031148': 351,
  'C0268119': 352,
  'C0340248': 353,
  'C0063848': 354,
  'C0857843': 355,
  'C1336469': 356,
  'C0847604': 357,
  'C0139578': 358,
  'C0403396': 359,
  'C0740340': 360,
  'C0740392': 361,
  'C0082584': 362,
  'C0076783': 363,
  'C1293626': 364,
  'C0609479': 365,
  'C1328956': 366,
  'C0342739': 367,
  'C0242528': 368,
  'C0058967': 369,
  'C0158281': 370,
  'C0546824': 371,
  'C0031029': 372,
  'C0135551': 373,
  'C0067029': 374,
  'C0252545': 375,
  'C0529765': 376,
  'C0072068': 377,
  'C0043121': 378,
  'C0235272': 379,
  'C0152256': 380,
  'C0017976': 381,
  'C0245636': 382,
  'C0439033': 383,
  'C0854211': 384,
  'C1470636': 385,
  'C0032897': 386,
  'C0940040': 387,
  'C0043541': 388,
  'C0013295': 389,
  'C0743841': 390,
  'C0339085': 391,
  'C0008356': 392,
  'C1535950': 393,
  'C0006111': 394,
  'C0398147': 395,
  'C0740831': 396,
  'C0397287': 397,
  'C0683174': 398,
  'C0078968': 399,
  'C0853303': 400,
  'C0013264': 401,
  'C0342405': 402,
  'C0020626': 403,
  'C0195257': 404,
  'C0193063': 405,
  'C0057144': 406,
  'C0238405': 407,
  'C0004764': 408,
  'C0166292': 409,
  'C0733413': 410,
  'C0108747': 411,
  'C0221046': 412,
  'C0238357': 413,
  'C0221023': 414,
  'C0053011': 415,
  'C0147056': 416,
  'C0268483': 417,
  'C1522432': 418,
  'C0155111': 419,
  'C0945447': 420,
  'C0262732': 421,
  'C0001910': 422,
  'C0272416': 423,
  'C0036001': 424,
  'C0024817': 425,
  'C0041952': 426,
  'C1522415': 427,
  'C0041945': 428,
  'C1517925': 429,
  'C0678803': 430,
  'C0023648': 431,
  'C0057356': 432,
  'C0342358': 433,
  'C1285577': 434,
  'C0184635': 435,
  'C0237404': 436,
  'C0185010': 437,
  'C1096257': 438,
  'C0639338': 439,
  'C0264299': 440,
  'C0034349': 441,
  'C0035260': 442,
  'C0119873': 443,
  'C0195997': 444,
  'C0040587': 445,
  'C0086427': 446,
  'C0391957': 447,
  'C1518294': 448,
  'C1144168': 449,
  'C0056838': 450,
  'C0019021': 451,
  'C0149676': 452,
  'C0534988': 453,
  'C0406704': 454,
  'C0343065': 455,
  'C0057617': 456,
  'C0175745': 457,
  'C0312555': 458,
  'C0218530': 459,
  'C0919274': 460,
  'C0746742': 461,
  'C0684278': 462,
  'C0064423': 463,
  'C0523938': 464,
  'C0221047': 465,
  'C0270627': 466,
  'C0626473': 467,
  'C0168310': 468,
  'C0276037': 469,
  'C0064616': 470,
  'C0387146': 471,
  'C0342311': 472,
  'C0277799': 473,
  'C0078137': 474,
  'C0275708': 475,
  'C0019948': 476,
  'C0066080': 477,
  'C0050846': 478,
  'C0319331': 479,
  'C0030841': 480,
  'C0275586': 481,
  'C0066882': 482,
  'C0752250': 483,
  'C0963377': 484,
  'C1320655': 485,
  'C1684909': 486,
  'C0349365': 487,
  'C1135189': 488,
  'C0052885': 489,
  'C0057002': 490,
  'C0596292': 491,
  'C0023458': 492,
  'C0481503': 493,
  'C0011391': 494,
  'C0013927': 495,
  'C0013765': 496,
  'C0030699': 497,
  'C0747786': 498,
  'C0853519': 499,
  'C0400839': 500,
  'C0341009': 501,
  'C0073010': 502,
  'C0428977': 503,
  'C0204217': 504,
  'C0037932': 505,
  'C0268015': 506,
  'C0581833': 507,
  'C0269993': 508,
  'C1158481': 509,
  'C0070654': 510,
  'C0878340': 511,
  'C0597505': 512,
  'C0075787': 513,
  'C0683540': 514,
  'C0040738': 515,
  'C0175778': 516,
  'C0020883': 517,
  'C0262937': 518,
  'C0023002': 519,
  'C0007471': 520,
  'C0268699': 521,
  'C0300964': 522,
  'C0240617': 523,
  'C0034544': 524,
  'C0948113': 525,
  'C0145114': 526,
  'C0522727': 527,
  'C0032346': 528,
  'C0877203': 529,
  'C0369221': 530,
  'C0264492': 531,
  'C0397419': 532,
  'C0521729': 533,
  'C0023687': 534,
  'C0268732': 535,
  'C1179934': 536,
  'C0389679': 537,
  'C0302606': 538,
  'C0553573': 539,
  'C0085608': 540,
  'C0410652': 541,
  'C0683231': 542,
  'C0078892': 543,
  'C0241686': 544,
  'C0204168': 545,
  'C0752202': 546,
  'C0028470': 547,
  'C0001476': 548,
  'C0011998': 549,
  'C0016944': 550,
  'C0863106': 551,
  'C0052836': 552,
  'C0052747': 553,
  'C0040508': 554,
  'C0033893': 555,
  'C0948802': 556,
  'C0268731': 557,
  'C0036457': 558,
  'C1519592': 559,
  'C0667857': 560,
  'C0082103': 561,
  'C0635473': 562,
  'C0024328': 563,
  'C1112613': 564,
  'C0520841': 565,
  'C0030065': 566,
  'C1505871': 567,
  'C0035066': 568,
  'C0599176': 569,
  'C0237396': 570,
  'C0238126': 571,
  'C0268448': 572,
  'C0064804': 573,
  'C0600403': 574,
  'C0948403': 575,
  'C0030953': 576,
  'C0303928': 577,
  'C0190051': 578,
  'C1155658': 579,
  'C0742974': 580,
  'C0544452': 581,
  'C0442714': 582,
  'C0056929': 583,
  'C0162835': 584,
  'C0267531': 585,
  'C0752078': 586,
  'C0208721': 587,
  'C0559523': 588,
  'C0632807': 589,
  'C0577627': 590,
  'C0061701': 591,
  'C0206395': 592,
  'C0678640': 593,
  'C0035232': 594,
  'C0259787': 595,
  'C0678306': 596,
  'C0539925': 597,
  'C0318937': 598,
  'C0073442': 599,
  'C0063249': 600,
  'C0003126': 601,
  'C0549401': 602,
  'C0033805': 603,
  'C0149960': 604,
  'C0265354': 605,
  'C1142551': 606,
  'C0962993': 607,
  'C0052051': 608,
  'C1282359': 609,
  'C0151650': 610,
  'C0206085': 611,
  'C0294287': 612,
  'C1096418': 613,
  'C0949912': 614,
  'C0235196': 615,
  'C1262299': 616,
  'C0243601': 617,
  'C0268006': 618,
  'C0400203': 619,
  'C0269050': 620,
  'C0033109': 621,
  'C0025550': 622,
  'C0042035': 623,
  'C0438697': 624,
  'C0702166': 625,
  'C0597843': 626,
  'C0039185': 627,
  'C0582766': 628,
  'C1619738': 629,
  'C0189557': 630,
  'C0295224': 631,
  'C0683653': 632,
  'C0114365': 633,
  'C0076638': 634,
  'C0059946': 635,
  'C0393720': 636,
  'C0037047': 637,
  'C0844726': 638,
  'C0152946': 639,
  'C0070903': 640,
  'C0424480': 641,
  'C0085536': 642,
  'C0301172': 643,
  'C0206272': 644,
  'C0026636': 645,
  'C0267772': 646,
  'C1446173': 647,
  'C0029420': 648,
  'C0597791': 649,
  'C0192715': 650,
  'C0172842': 651,
  'C0075337': 652,
  'C0043117': 653,
  'C0268382': 654,
  'C0950124': 655,
  'C1571149': 656,
  'C0948355': 657,
  'C0301736': 658,
  'C0147029': 659,
  'C0080150': 660,
  'C0249760': 661,
  'C0078981': 662,
  'C0232617': 663,
  'C0458011': 664,
  'C0156404': 665,
  'C0747290': 666,
  'C0213596': 667,
  'C0026272': 668,
  'C0282687': 669,
  'C0071185': 670,
  'C0206368': 671,
  'C0071940': 672,
  'C0344217': 673,
  'C0441603': 674,
  'C0014059': 675,
  'C0134056': 676,
  'C0404110': 677,
  'C0151565': 678,
  'C0010273': 679,
  'C0151889': 680,
  'C1099798': 681,
  'C0055333': 682,
  'C0025349': 683,
  'C0556502': 684,
  'C0438397': 685,
  'C0005664': 686,
  'C0047557': 687,
  'C0271389': 688,
  'C1331288': 689,
  'C0908364': 690,
  'C0668269': 691,
  'C0235986': 692,
  'C0003297': 693,
  'C0003632': 694,
  'C0040684': 695,
  'C0343452': 696,
  'C0035158': 697,
  'C0473557': 698,
  'C0587668': 699,
  'C0299247': 700,
  'C0851850': 701,
  'C0232605': 702,
  'C0318667': 703,
  'C0055601': 704,
  'C0234559': 705,
  'C0597551': 706,
  'C0403844': 707,
  'C0022773': 708,
  'C0340896': 709,
  'C0048766': 710,
  'C0843890': 711,
  'C0185304': 712,
  'C0010642': 713,
  'C0017029': 714,
  'C0221158': 715,
  'C0267771': 716,
  'C0028197': 717,
  'C1587002': 718,
  'C0541936': 719,
  'C0028422': 720,
  'C0401151': 721,
  'C0425424': 722,
  'C0851883': 723,
  'C0586816': 724,
  'C0006091': 725,
  'C1262004': 726,
  'C1321311': 727,
  'C0380551': 728,
  'C0020699': 729,
  'C1287388': 730,
  'C1302363': 731,
  'C0033417': 732,
  'C0022065': 733,
  'C0005908': 734,
  'C1275047': 735,
  'C0010290': 736,
  'C0153188': 737,
  'C0215223': 738,
  'C0147776': 739,
  'C0581124': 740,
  'C0163743': 741,
  'C0241452': 742,
  'C0008029': 743,
  'C0061337': 744,
  'C0344353': 745,
  'C0289429': 746,
  'C0065719': 747,
  'C0034802': 748,
  'C0443640': 749,
  'C0061206': 750,
  'C1317817': 751,
  'C0042514': 752,
  'C0085807': 753,
  'C0040162': 754,
  'C0029106': 755,
  'C0312401': 756,
  'C0599000': 757,
  'C0312561': 758,
  'C0051378': 759,
  'C0260914': 760,
  'C0146630': 761,
  'C0162529': 762,
  'C0554437': 763,
  'C0033150': 764,
  'C0151648': 765,
  'C0919252': 766,
  'C1449642': 767,
  'C0270700': 768,
  'C0600289': 769,
  'C0035865': 770,
  'C0546189': 771,
  'C1442777': 772,
  'C0599310': 773,
  'C0055001': 774,
  'C0047253': 775,
  'C0017261': 776,
  'C1000343': 777,
  'C0036774': 778,
  'C1333380': 779,
  'C1096697': 780,
  'C0162573': 781,
  'C0074312': 782,
  'C0084932': 783,
  'C0269202': 784,
  'C0269811': 785,
  'C0066112': 786,
  'C0029002': 787,
  'C0238668': 788,
  'C0020498': 789,
  'C1000275': 790,
  'C0270612': 791,
  'C0483558': 792,
  'C0053448': 793,
  'C0559548': 794,
  'C0262625': 795,
  'C1510425': 796,
  'C1035687': 797,
  'C0237265': 798,
  'C0538824': 799,
  'C0263610': 800,
  'C0455957': 801,
  'C0156372': 802,
  'C0025446': 803,
  'C0151293': 804,
  'C0062146': 805,
  'C0283477': 806,
  'C0264487': 807,
  'C0014858': 808,
  'C0016513': 809,
  'C0267849': 810,
  'C0443900': 811,
  'C0730203': 812,
  'C0062378': 813,
  'C0199400': 814,
  'C0148473': 815,
  'C0024746': 816,
  'C0029348': 817,
  'C0398359': 818,
  'C0275724': 819,
  'C0263325': 820,
  'C0557849': 821,
  'C0042903': 822,
  'C0343524': 823,
  'C0077722': 824,
  'C0561858': 825,
  'C0146433': 826,
  'C0285294': 827,
  'C0276027': 828,
  'C0349650': 829,
  'C0087095': 830,
  'C0755294': 831,
  'C0815119': 832,
  'C0432632': 833,
  'C0853208': 834,
  'C0086287': 835,
  'C0398192': 836,
  'C1302690': 837,
  'C0525664': 838,
  'C0156841': 839,
  'C0591215': 840,
  'C0189149': 841,

In [23]:
save_path = join(SELECTED_TRIPLES, SELECTED_KG)
raw_train, raw_test, raw_val, train, test, val, ent_map, rel_map, ent_type_map = test_read(save_path)

In [24]:
train

,ORIGIN_ID,r,h,t,p,time_min,time_max,h_type,t_type
0,990002,18,16158,24362,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,8,16
1,990002,18,16158,24362,1.0,2015-08-22 00:00:00,2015-08-22 00:00:00,8,16
2,672125,24,10724,13513,1.0,2015-08-21 00:00:00,2015-08-21 00:00:00,8,16
3,3434195,36,11060,13729,1.0,1996-06-01 00:00:00,1996-06-01 00:00:00,8,8
4,1911236,50,11060,10474,1.0,2016-09-28 00:00:00,2016-09-28 00:00:00,8,16
...,...,...,...,...,...,...,...,...,...
227306,6480149,39,13007,13007,1.0,1986-08-01 00:00:00,1986-08-01 00:00:00,8,8
227307,3787703,36,5360,21347,1.0,1995-01-01 00:00:00,1995-11-01 00:00:00,8,8
227308,6457418,39,12329,12410,0.5,1989-10-01 00:00:00,1989-10-01 00:00:00,8,8
227309,4219,24,25312,3754,1.0,2006-03-15 00:00:00,2006-03-15 00:00:00,8,5
227310,6623675,16,486,13686,1.0,1985-04-01 00:00:00,1985-04-01 00:00:00,8,5

In [ ]:
len(rel_map)

In [ ]:
len(ent_type_map)

In [ ]:
len(ent_map)

In [ ]:
rel_map

## Get Stats

In [32]:
save_path = join(SELECTED_TRIPLES, SELECTED_KG)
raw_train, raw_test, raw_val, train, test, val, ent_map, rel_map, ent_type_map = test_read(save_path)

In [34]:
pd.read_csv(join(save_path, 'raw_train.csv'))

         ORIGIN_ID                r          h         t    p h_type t_type
0         22599141      LOCATION_OF  100037417  C0017262  1.0   aapp   genf
1         12378912         PRODUCES  100125288  C0000820  1.0   aapp   aapp
2         12378912         PRODUCES  100125288  C0000820  1.0   aapp   aapp
3         12378912         PRODUCES  100125288  C0000820  1.0   aapp   aapp
4         15221147  ASSOCIATED_WITH  100125288  C0002395  1.0   aapp   dsyn
...            ...              ...        ...       ...  ...    ...    ...
2997450   23778360    compared_with   C5549863  C0021747  0.0   topp   aapp
2997451   23778359           TREATS   C5549863  C0524910  1.0   topp   dsyn
2997452   23805050           TREATS   C5549863  C1444092  1.0   topp   virs
2997453   23805051           TREATS   C5549863  C1623038  1.0   topp   dsyn
2997454   23836175       NEG_TREATS   C5549863  C4050171  0.0   topp   fndg

[2997455 rows x 7 columns]

In [35]:
verify_splits(raw_train, raw_test, raw_val,
                  head_col = 'h', rel_col = 'r', tail_col = 't',
                  proba_col = 'p')

total number of triples:  3843218
# all entities:  79651
# all relations:  62
# Average proba:  0.9036127702849742
# Std proba:  0.26119983467200864
number of training triples:  2997455
number of test triples:  422882
number of val triples:  422881
fraction of training triples:  0.7799336389452797
fraction of test triples:  0.11003331062666755
fraction of val triples:  0.11003305042805274
ents in val not train:  0
ents in test not train:  0
rels in val not train:  0
rels in test not train:  0

## Total KG

In [44]:
proba_triples_df = pd.read_csv(join(TRIPLES_DIR, 'triples_probabilities.csv'), compression = 'gzip')

In [48]:
proba_triples_df.head()

   ORIGIN_ID   PREDICATE SUBJECT_CUI OBJECT_CUI  label_proba
0          0  PROCESS_OF    C0003725   C0999630     1.000000
1          1         ISA    C0039258   C0446169     1.000000
2          2         ISA    C0318627   C0206590     1.000000
3          3         ISA    C0446169   C0003725     1.000000
4          4  PROCESS_OF    C0012634   C0020114     0.989018

In [49]:
verify_splits(proba_triples_df, None, None,
                  head_col = 'SUBJECT_CUI', rel_col = 'PREDICATE', tail_col = 'OBJECT_CUI',
                  proba_col = 'label_proba')

total number of triples:  28416917
# all entities:  344991
# all relations:  68
# Average proba:  0.9131144540427637
# Std proba:  0.25031801450326685
number of training triples:  28416917
fraction of training triples:  1.0

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Triples Exploration

### COVID19 Risk Factors

In [ ]:
SELECTED_KG = 'risk factor covid kg'
save_path = join(SELECTED_TRIPLES, SELECTED_KG)
train, test, val, ent_map, rel_map, ent_type_map = test_read(save_path)

In [ ]:
verify_splits(train, test, val, 'h', 'r', 't', 'p')

### COVID19 Time Risk Factors

In [12]:
SELECTED_KG = 'risk_factor_disease_time'
save_path = join(SELECTED_TRIPLES, SELECTED_KG)
raw_train, raw_test, raw_val, train, test, val, ent_map, rel_map, ent_type_map = test_read(save_path)

In [13]:
verify_splits(train, test, val, 'h', 'r', 't', 'p')

total number of triples:  280812
# all entities:  28115
# all relations:  61
# Average proba:  0.901128556528563
# Std proba:  0.23863124696278307
number of training triples:  227311
number of test triples:  26750
number of val triples:  26751
fraction of training triples:  0.8094775152059028
fraction of test triples:  0.09525946184635985
fraction of val triples:  0.09526302294773728
ents in val not train:  0
ents in test not train:  0
rels in val not train:  0
rels in test not train:  0

## Relational Patterns

In [ ]:
save_path = join(SELECTED_TRIPLES, SELECTED_KG)
rel_map = read_json(join(save_path, 'rel_map.json'))

In [ ]:
rel_map = {k.lower():v for k, v in rel_map.items()}

In [ ]:
def get_relational_patterns(rel_map):
    tran_comp = read_json(join(PROC_UMLS, 'umls_biokg_rel_patterns.json'))
    # transitive relations
    transitive_rels = list(map(rel_map.get, tran_comp['transitive_rels']))
    transitive_rels = [i for i in transitive_rels if i is not None]
    # composition relations
    composition_rels = [list(map(rel_map.get, i)) for i in tran_comp['composition_rels']]
    composition_rels = [i for i in composition_rels if (None not in i) and (len(set(i))==3)]
    save_path = join(SELECTED_TRIPLES, SELECTED_KG, 'relational_patterns.json')
    save_json(save_path, {'composition_rels':composition_rels, 'transitive_rels':transitive_rels})
    return transitive_rels, composition_rels

In [ ]:
get_relational_patterns(rel_map)

In [ ]:
get_relational_patterns(rel_map)